<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GateTracker log {{ title|default('') }}</title>
    <link href="{{ root }}/log.css" rel="stylesheet" type="text/css"/>

    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>